
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

/* .container {
  display: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 10%;  
  
} */

/* Image upload elements */
.input-wrapper {
  position: relative;
  width: 300px;
  height: 300px;  
  opacity: 1;
  left: 47px;
  top: 30px;
}


.input-wrapper:hover .img-display{
  border-style: dashed;
}

.file-upload {
  border-radius: 20px;
  height:100%;
  width:100%;
  position:relative;
  display:flex;
  justify-content:center;
  align-items: center;  
  opacity: 1;
  border:4px solid #FFFFFF;
  overflow:hidden;
  /* background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%); */
  background-color: #2590EB;
  background-size: 100% 200%;
  /* background: linear-gradient(to top, #2590EB 0%, #FFFFFF 100%); */
  transition: all 1.3s;
  color: #FFFFFF;
  font-size:100px;
  
  z-index: -2;
}

.input-wrapper:hover .file-upload {
  background-position: 0 -100%;
  background-color: #FFFFFF;
  /* background-color: #FFFFFF; */
  color:#2590EB;
}

.img-input {
  position: absolute;
  cursor: pointer;
  opacity:0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.img-display {
  position: absolute;
  background-clip: border-box;
  background-color: transparent;
  border-radius: 20px;
  z-index: -1;
  opacity: 1;
  top: 0px;
  border-style: solid;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
}

/* .upload-text {
  z-index: -2;
  text-align: center;
  font: 'Roboto';
} */

.popup-content {
  height: 800px;
  border-radius: 10px;
}

.graph {
  height: 100%;
  width: 100%;
  padding:-1px;
  background:#BCB7B7;
  border-radius: 10px;
  border: 50px solid #BCB7B7;
}

.graph-flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-shrink: 0;
}

.category {
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 30px;
  font-family: SF Pro Display;
  width: 30%;
}

.cat {
  font-size: 30px;
  font-family: SF Pro Display;
  padding-top: 10px; 
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
  position: relative;
  left: 33%;
  top: 30%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader-container {
  height: 100%;
  width: 100%;
  padding:-1px;
  background:#BCB7B7;
  border-radius: 10px;
  border: 50px solid #BCB7B7;
  z-index: 5000;
}