/* .elementColor {
    color:#E63946
}

.backgroundColor {
    color: #F1FAEE;
}

.exteriorPanelBackground {
    color: #A8DADC;
}

.interiorPanelBackground {
    color: #457B9D;
}

.darkBackground {
    color: #1D3557;
} */
