body {
    background: url('../media/LoginPage.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* div {
    background-image: url('../media/LoginFormBorder.png');
    width: 300px;
    height: 300px;
} */

.imageContainer {
    -webkit-box-align: stretch;
    -webkit-box-direction: normal;
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    align-items: stretch;
    border: 0 solid #000;
    box-sizing: border-box;
    display: flex;
    flex: 1 0;
    flex-direction: column;
    margin: 0;
    max-width: 600px;
    padding: 0;
    position: relative;
    vertical-align: baseline;
    width: 100%;
}